.body {
   -fx-background: maroon;
}


.text-to-speach-label{
   -fx-font-size: 25px;
   -fx-font-weight: bold;
   -fx-padding: 10px;
}


.text-area {
   -fx-font-size:16px;
   -fx-control-inner-background: #4F1D1D;
}


.setting-label{
   -fx-font-size:20px;
   -fx-font-weight: bold;
}


.setting-combo-box{
   -fx-font-size:20px;
   -fx-control-inner-background: #4F1D1D;
   -fx-background-color: #4F1D1D;
}


.setting-combo-box .lisy-cell {
   -fx-text-fill: white;
}


.speak-btn{
   -fx-font-size:20px;
   -fx-font-weight: bold;
   -fx-background-color: #4F1D1D;
   -fx-text-fill: white;
   -fx-padding: 0;
}

.setting-combo-box .list-cell {
    -fx-text-fill: white;
}


.speak-btn:pressed {
   -fx-opacity: .75;
}
